<div id="chart_content">
<h2><%= @version.name %> Burndown</h2>
<!--<div id="resizable_cont" style="height: 300px; width: 1000px; position: relative;">
  <%# @graph %>
  <div id="bottom_pane">
  <div class="corner" id="DragHandle"> </div>
  </div> 

</div> -->
<div id="jchart">

</div>
<button class="button-reset">Reset Zoom</button>
</div> 

<%# javascript_include_tag 'chart_resize', :plugin => 'redmine_burndown' %>

<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>-->
<%= javascript_include_tag 'jquery.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'jquery.jqplot.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.canvasTextRenderer.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.canvasAxisLabelRenderer.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.cursor.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.dateAxisRenderer.min.js', :plugin => 'redmine_burndown' %>

<script type="text/javascript">
  jQuery(document).ready(function(){
    var nil = null; // to translate nil to null
    var plot1 = jQuery.jqplot ('jchart', <%= @chart.data_and_dates.inspect %>, {
      // Give the plot a title.
      //title: 'Plot With Options',
      // You can specify options for all axes on the plot at once with
      // the axesDefaults object.  Here, we're using a canvas renderer
      // to draw the axis label which allows rotated text.
      // An axes object holds options for all axes.
      // Allowable axes are xaxis, x2axis, yaxis, y2axis, y3axis, ...
      // Up to 9 y axes are supported.
      axes: {
        // options for each axis are specified in seperate option objects.
        xaxis: {
          label: "X Axis",
          renderer: jQuery.jqplot.DateAxisRenderer,
          // Turn off "padding".  This will allow data point to lie on the
          // edges of the grid.  Default padding is 1.2 and will keep all
          // points inside the bounds of the grid.
          min: "<%= @chart.dates.first %> 00:00"
        },
        yaxis: {
          label: "Y Axis"
        }
      }, 
      cursor:{ 
        show: true,
        zoom: true, 
        followMouse: true
      } 
    });
    jQuery('.button-reset').click(function() { plot1.resetZoom() });
});
</script>



